language: node_js 
node_js: 
    - "node"
cache: npm
before_deploy: 
  - npm run build
  - npm run uglify
  - npm run sitemap
deploy:
  provider: surge
  project: ./publish/
  domain: chaldeas.surge.sh
  skip_cleanup: true
after_deploy: # Just in case
  - surge --project ./publish/ --domain chaldeas.surge.sh 
  - surge --project ./publish/ --domain chaldeas.surge.sh 
